
@{
    Layout = "~/views/shared/_AdminLayout.cshtml";

}

@model QRProject.Models.ChangePasswordViewModel

<style>
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .btnn {
        border: 2px solid gray;
        color: gray;
        background-color: #fff;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 700;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    .Cv2 {
        height: 300px;
        width: 250pt;
    }

    .newline {
        white-space: pre-wrap;
    }

    .myfilter-option {
        display: inline-block;
        overflow: hidden;
        width: 70%;
        text-align: center;
    }

    .SuccD {
        color: green;
    }

    .ChangeLk {
        font-family: IranSansl;
        color: green;
    }

    .btnSa {
        width: 125px;
    }

    .er20 {
        padding: 5pt;
        margin: 5pt;
    }

    .MapIo {
        font-size: 10pt;
        font-family: IranSans;
    }

    .MpM {
        width: 250pt;
        color: #000;
        font-family: IranSansl;
        font-size: 12pt;
        border: 2px dashed #d7d7d7;
        padding: 10pt;
        background-color: #f5f5f5;
    }

    .Cv1 {
        direction: rtl;
        float: right;
    }
</style>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">رمز عبور</a></li>
    <li><a data-toggle="tab" id="menuss" href="#menu1">لوکیشن </a></li>
    <li><a data-toggle="tab" id="DeliveryPrice1" href="#menu2">هزینه ارسال </a></li>
</ul>







<div class="tab-content">
    <div id="home" class="tab-pane fade in active">


        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <br />
            <h4><i class="fa fa-lock"></i>&nbsp;تغییر رمز عبور&nbsp;</h4>

            <hr />
            if (ViewBag.clientid != null)
            {
                <h3 id="success" class="SuccD">@ViewBag.Message</h3>

                <script src="../../Scripts/jquery-1.10.2.js"></script>

                <script>
                    $('#success').fadeTo(6000, 0.0);
                </script>
            }
            <input type="text" class="hidden" name="ClientId" value="@ViewBag.clientid" />


            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <input type="password" class="form-control" name="OldPassword" value="" oninvalid="this.setCustomValidity('رمز فعلی را وارد نمایید')" oninput="setCustomValidity('')" required />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">

                    <input type="password" class="form-control" name="NewPassword" value="" oninvalid="this.setCustomValidity('رمز عبور جدید را وارد نمایید')" oninput="setCustomValidity('')" required />

                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <input type="password" class="form-control" name="ConfirmPassword" value="" oninvalid="this.setCustomValidity('تکرار رمز عبور جدید را وارد نمایید')" oninput="setCustomValidity('')" required />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="تغییر رمز" class="btn btn-default" />
                </div>
            </div>
        }





    </div>

    @*----------------------------------------------------------map---------------------------------*@

    <div id="menu1" class="tab-pane fade">
        <br />

        <link href="~/leaf/leaflet.css" rel="stylesheet" />
        <script src="~/leaf/leaflet.js"></script>






        @using (Html.BeginForm("ChangeLocation", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <input type="text" class="hidden" name="ClientId" value="@ViewBag.clientid" />
            <input id="Latitude" value="@ViewBag.lat" style="display:none" name="LocationLatitude" />
            <input id="Longitude" value="@ViewBag.lng" style="display:none" name="LocationLongitude" />
            if (ViewBag.changeLocation != null)
            {
                <h3 class="ChangeLk">@ViewBag.changeLocation</h3>

            }


            <div class="">
                <input type="submit" value="ثبت تغییر لوکیشن" class="btn btn-default btnSa" />
            </div>

            <div class="rightNav er20">
                <a id="refresh" class="MapIo" href="#" onclick="$.expandMap();">
                    نمایش نقشه
                    <img src="~/images/refresh.png" alt="refresh" />
                </a>
            </div>


                <div class="MpM">
                    با حرکت دادن مکان نما،محل کسب و کار خود را روی نقشه تغییر دهید
                </div>


                <div class="Cv1">
                    <div id="MapLocation" class="Cv2"></div>



                    <br />

                </div>

        }
        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="@Url.Action("SetDefault","Manage",new {ClientId=ViewBag.clientid })">Tehran</a>
                   </div>
            </div>*@


        <script>


            $(function () {


                var curLocation = @Html.Raw(ViewBag.location);
                // use below if you have a model
                zoom: 15;

                if (curLocation[0] == 0 && curLocation[1] == 0) {
                    curLocation = @Html.Raw(ViewBag.location);
                }

                var map = L.map('MapLocation').setView(curLocation, 14);


                //L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                //    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                //}).addTo(map);

                L.tileLayer('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
                    attribution: 'baladchee.com'
                }).addTo(map);

                map.attributionControl.setPrefix(false);

                var marker = new L.marker(curLocation, {
                    draggable: 'true'

                });

                marker.on('dragend', function (event) {
                    var position = marker.getLatLng();
                    marker.setLatLng(position, {
                        draggable: 'true'
                    }).bindPopup(position).update();
                    $("#Latitude").val(position.lat);
                    $("#Longitude").val(position.lng).keyup();
                });

                $("#Latitude, #Longitude").change(function () {
                    var position = [parseInt($("#Latitude").val()), parseInt($("#Longitude").val())];
                    marker.setLatLng(position, {
                        draggable: 'true'
                    }).bindPopup(position).update();
                    map.panTo(position);
                });

                map.addLayer(marker);



                $.expandMap = function () {
                    if ($(".rightNav").is(':visible')) {
                        $(".map-wrap").animate({ width: '70%' }, '400');
                        $(".rightNav").hide(0);
                        setTimeout(function () { map.invalidateSize() }, 400);
                    }
                }

            })


        </script>
        @if (ViewBag.chnage == "ok")
            {
            <script>
                $(document).ready(function(){
                    $('#menuss').trigger('click');
                    $('#refresh').trigger('click');
                });
            </script>
        }



    </div>

    @*----------------------------------------------------------DeliveryPrice---------------------------------*@
    <br />
    <div id="menu2" class="tab-pane fade row">
        <style>
            .DeliveryPrice {
                border: 1px solid gray;
                padding: 10pt;
                border-radius: 10%;
                /*background-image:url("../../images/PostPrice.png");*/
            }

            .myselect {
                margin-top: 8pt;
                width: 116px;
                border-radius: 5px;
            }

            .Bborder {
                text-align: center;
                color: #000;
                font-family: IranSansl;
                font-weight: 700;
                direction: rtl;
                border: 2px dashed #d7d7d7;
                padding: 7pt;
              background: radial-gradient(#7d7bff, transparent);
              border-radius: 5px;
            }
        </style>



        @using (Html.BeginForm("ChangeDeliveryPrice", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <input type="text" class="hidden" name="ClientId" value="@ViewBag.clientid" />



                <div class="DeliveryPrice col-lg-6 col-md-6 col-xl-12 pull-right">



                    @if (ViewBag.ChangeDelivery != null)
                    {
                        <h3 class="ChangeLk">@ViewBag.ChangeDelivery</h3>

                    }

                    <div style="text-align:center">
                        <img src="~/images/PostPrice.png" alt="delivery-Price-baladchee" />
                    </div>



                    <span style="font-family:IranSans" class="label-input100">هزینه ارسال درون شهری: </span>


                    <center>
                        <select tabindex="2" name="DarunshahriPrice" id="DarunshahriPrice" class="SelectJob myselect" data-show-subtext="true" data-live-search="true">

                            @if (ViewBag.DarunPrice == "")
                            {
                                <option style="font-family:IranSans" value="" selected>..رایگان..</option>
                                <option style="font-family:IranSans" value="10000">۱۰ هزار تومان</option>
                                <option style="font-family:IranSans" value="15000">۱۵ هزار تومان</option>
                                <option style="font-family:IranSans" value="20000">۲۰ هزار تومان</option>
                                <option style="font-family:IranSans" value="25000">۲۵ هزار تومان</option>
                                <option style="font-family:IranSans" value="30000">۳۰ هزار تومان</option>
                                <option style="font-family:IranSans" value="35000">۳۵ هزار تومان</option>
                                <option style="font-family:IranSans" value="40000">۴۰ هزار تومان</option>
                                <option style="font-family:IranSans" value="50000">۵۰ هزار تومان</option>
                            }
                            @if (ViewBag.DarunPrice == "10000")
                            {
                                <option style="font-family:IranSans" value="">..رایگان..</option>
                                <option style="font-family:IranSans" value="10000" selected>۱۰ هزار تومان</option>
                                    <option style="font-family:IranSans" value="15000">۱۵ هزار تومان</option>
                                    <option style="font-family:IranSans" value="20000">۲۰ هزار تومان</option>
                                    <option style="font-family:IranSans" value="25000">۲۵ هزار تومان</option>
                                    <option style="font-family:IranSans" value="30000">۳۰ هزار تومان</option>
                                    <option style="font-family:IranSans" value="35000">۳۵ هزار تومان</option>
                                    <option style="font-family:IranSans" value="40000">۴۰ هزار تومان</option>
                                    <option style="font-family:IranSans" value="50000">۵۰ هزار تومان</option>
                            }
                            @if (ViewBag.DarunPrice == "15000")
                            {
                                <option style="font-family:IranSans" value="">..رایگان..</option>
                                <option style="font-family:IranSans" value="10000">۱۰ هزار تومان</option>
                                    <option style="font-family:IranSans" value="15000" selected>۱۵ هزار تومان</option>
                                    <option style="font-family:IranSans" value="20000">۲۰ هزار تومان</option>
                                    <option style="font-family:IranSans" value="25000">۲۵ هزار تومان</option>
                                    <option style="font-family:IranSans" value="30000">۳۰ هزار تومان</option>
                                    <option style="font-family:IranSans" value="35000">۳۵ هزار تومان</option>
                                    <option style="font-family:IranSans" value="40000">۴۰ هزار تومان</option>
                                    <option style="font-family:IranSans" value="50000">۵۰ هزار تومان</option>
                            }
                            @if (ViewBag.DarunPrice == "20000")
                            {

                                <option style="font-family:IranSans" value="">..رایگان..</option>
                                <option style="font-family:IranSans" value="10000">۱۰ هزار تومان</option>
                                <option style="font-family:IranSans" value="15000">۱۵ هزار تومان</option>
                                    <option style="font-family:IranSans" value="20000" selected>۲۰ هزار تومان</option>
                                    <option style="font-family:IranSans" value="25000">۲۵ هزار تومان</option>
                                    <option style="font-family:IranSans" value="30000">۳۰ هزار تومان</option>
                                    <option style="font-family:IranSans" value="35000">۳۵ هزار تومان</option>
                                    <option style="font-family:IranSans" value="40000">۴۰ هزار تومان</option>
                                    <option style="font-family:IranSans" value="50000">۵۰ هزار تومان</option>
                            }
                            @if (ViewBag.DarunPrice == "25000")
                            {

                                <option style="font-family:IranSans" value="">..رایگان..</option>
                                    <option style="font-family:IranSans" value="10000">۱۰ هزار تومان</option>
                                    <option style="font-family:IranSans" value="15000">۱۵ هزار تومان</option>
                                    <option style="font-family:IranSans" value="20000">۲۰ هزار تومان</option>
                                    <option style="font-family:IranSans" value="25000" selected>۲۵ هزار تومان</option>
                                    <option style="font-family:IranSans" value="30000">۳۰ هزار تومان</option>
                                    <option style="font-family:IranSans" value="35000">۳۵ هزار تومان</option>
                                    <option style="font-family:IranSans" value="40000">۴۰ هزار تومان</option>
                                    <option style="font-family:IranSans" value="50000">۵۰ هزار تومان</option>

                            }
                            @if (ViewBag.DarunPrice == "30000")
                            {

                                <option style="font-family:IranSans" value="">..رایگان..</option>
                                        <option style="font-family:IranSans" value="10000">۱۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="15000">۱۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="20000">۲۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="25000">۲۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="30000" selected>۳۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="35000">۳۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="40000">۴۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="50000">۵۰ هزار تومان</option>
                            }
                            @if (ViewBag.DarunPrice == "35000")
                            {
                                <option style="font-family:IranSans" value="">..رایگان..</option>
                                <option style="font-family:IranSans" value="10000">۱۰ هزار تومان</option>
                                <option style="font-family:IranSans" value="15000">۱۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="20000">۲۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="25000">۲۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="30000">۳۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="35000" selected>۳۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="40000">۴۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="50000">۵۰ هزار تومان</option>
                            }
                            @if (ViewBag.DarunPrice == "40000")
                            {
                                <option style="font-family:IranSans" value="">..رایگان..</option>
                                <option style="font-family:IranSans" value="10000">۱۰ هزار تومان</option>
                                <option style="font-family:IranSans" value="15000">۱۵ هزار تومان</option>
                                <option style="font-family:IranSans" value="20000">۲۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="25000">۲۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="30000">۳۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="35000">۳۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="40000" selected>۴۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="50000">۵۰ هزار تومان</option>
                            }
                            @if (ViewBag.DarunPrice == "50000")
                            {
                                <option style="font-family:IranSans" value="">..رایگان..</option>
                                <option style="font-family:IranSans" value="10000">۱۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="15000">۱۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="20000">۲۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="25000">۲۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="30000">۳۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="35000">۳۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="40000">۴۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="50000" selected>۵۰ هزار تومان</option>
                            }



                        </select>
                    </center>




                    @*//.............................................*@

                    <br /><br />
                    <span style="font-family:IranSans" class="label-input100">هزینه ارسال برون شهری: </span>



                    <center>
                        <select tabindex="2" name="BorunshahriPrice" id="BorunshahriPrice" class="SelectJob myselect" data-show-subtext="true" data-live-search="true">

                            @if (ViewBag.BorunPrice == "")
                            {
                                <option style="font-family:IranSans" value="" selected>..رایگان..</option>
                                        <option style="font-family:IranSans" value="15000">۱۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="20000">۲۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="25000">۲۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="30000">۳۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="35000">۳۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="40000">۴۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="50000">۵۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="60000">۶۰ هزار تومان</option>
                            }
                            @if (ViewBag.BorunPrice == "15000")
                            {
                                <option style="font-family:IranSans" value="">..رایگان..</option>
                                        <option style="font-family:IranSans" value="15000" selected>۱۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="20000">۲۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="25000">۲۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="30000">۳۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="35000">۳۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="40000">۴۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="50000">۵۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="60000">۶۰ هزار تومان</option>

                            }
                            @if (ViewBag.BorunPrice == "20000")
                            {
                                <option style="font-family:IranSans" value="">..رایگان..</option>
                                        <option style="font-family:IranSans" value="15000">۱۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="20000" selected>۲۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="25000">۲۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="30000">۳۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="35000">۳۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="40000">۴۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="50000">۵۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="60000">۶۰ هزار تومان</option>

                            }
                            @if (ViewBag.BorunPrice == "25000")
                            {
                                <option style="font-family:IranSans" value="">..رایگان..</option>
                                        <option style="font-family:IranSans" value="15000">۱۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="20000">۲۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="25000" selected>۲۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="30000">۳۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="35000">۳۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="40000">۴۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="50000">۵۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="60000">۶۰ هزار تومان</option>
                            }
                            @if (ViewBag.BorunPrice == "30000")
                            {
                                <option style="font-family:IranSans" value="">..رایگان..</option>
                                        <option style="font-family:IranSans" value="15000">۱۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="20000">۲۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="25000">۲۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="30000" selected>۳۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="35000">۳۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="40000">۴۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="50000">۵۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="60000">۶۰ هزار تومان</option>
                            }
                            @if (ViewBag.BorunPrice == "35000")
                            {
                                <option style="font-family:IranSans" value="">..رایگان..</option>
                                        <option style="font-family:IranSans" value="15000">۱۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="20000">۲۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="25000">۲۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="30000">۳۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="35000" selected>۳۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="40000">۴۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="50000">۵۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="60000">۶۰ هزار تومان</option>
                            }
                            @if (ViewBag.BorunPrice == "40000")
                            {
                                <option style="font-family:IranSans" value="">..رایگان..</option>
                                        <option style="font-family:IranSans" value="15000">۱۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="20000">۲۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="25000">۲۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="30000">۳۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="35000">۳۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="40000" selected>۴۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="50000">۵۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="60000">۶۰ هزار تومان</option>
                            }
                            @if (ViewBag.BorunPrice == "50000")
                            {
                                <option style="font-family:IranSans" value="">..رایگان..</option>
                                        <option style="font-family:IranSans" value="15000">۱۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="20000">۲۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="25000">۲۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="30000">۳۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="35000">۳۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="40000">۴۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="50000" selected>۵۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="60000">۶۰ هزار تومان</option>
                            }
                            @if (ViewBag.BorunPrice == "60000")
                            {
                                <option style="font-family:IranSans" value="">..رایگان..</option>
                                        <option style="font-family:IranSans" value="15000">۱۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="20000">۲۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="25000">۲۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="30000">۳۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="35000">۳۵ هزار تومان</option>
                                        <option style="font-family:IranSans" value="40000">۴۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="50000">۵۰ هزار تومان</option>
                                        <option style="font-family:IranSans" value="60000" selected>۶۰ هزار تومان</option>
                            }



                        </select>

                    </center>
                    <br />
                    <br />
                    <div class="Bborder" style="font-family:IranSansL;font-weight:bold"> ⚠ عدم انتخاب مبلغ در هر مورد، ارسال در آن بخش، رایگان در نظر گرفته میشود. اگر قصد فروش محصولی در ویترین خود ندارید، این قسمت را نادیده بگیرید. </div>
                    <br />
                    <div style="text-align:center">

                        <input type="submit" value="تغییر هزینه ارسال" class="btn btn-default" />

                    </div>

                </div>



        }


        @if (ViewBag.ChangeDeliveryPrice == "ChangeDeliveryPrice")
        {
            <script>
                $(document).ready(function(){

                    $('#DeliveryPrice1').trigger('click');
                });
            </script>
        }



    </div>





</div>











